.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-link {
    margin-right: 20px; 
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
    align-items: center;
}

.copyright {
    color: #fff;
    margin-right: 20px;
    font-size: 80%;
}

.footer-logo {
    height: 50px;
    align-self: center;
    color: #fff;
}