.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(0, 179, 18);
    padding: 10px 20px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .navLinks {
    display: flex;
    gap: 10px;
  }  